@media screen and (max-width: 965px) {
    ul.flexed-container{display: none;}
}

@media screen and (max-width: 475px){
    .nav-items{display: none;}

    .web-information h1{font-size: 35px;}
}

@media screen and (max-width: 826px) {
    .card{width: 50%;}

    .title-cards{
        display: block;
        text-align: center;
    }

    .category{justify-content: center;}
}
@media screen and (min-width: 826px) {
    .card{width: 25%;}
}
@media screen and (max-width: 486px) {
    .card{width: 100%;}
}