/* NAV BAR MEDIA */
@media screen and (max-width: 965px) {
    ul.flexed-container{display: none;}
}

@media screen and (min-width: 475px) {
    input[type = button]{
        position: absolute;
        padding: 0 60px;
    }
}
@media screen and (max-width: 475px){
    .nav-items{display: none;}

    .web-information h1{font-size: 35px;}

    .Comments-container form {text-align: center;}
    input[type = button]{
        position: static;
        padding: 15px 60px;
    }
}
/* CARDS MEDIA */
@media screen and (min-width: 826px) {
    .card{width: 25%;}
}
@media screen and (max-width: 826px) {
    .card{width: 50%;}

    .title-cards{
        display: block;
        text-align: center;
    }

    .category{justify-content: center;}
}
@media screen and (max-width: 486px) {
    .card{width: 100%;}
}

/* SERVICE MEDIA */
@media screen and (max-width: 1210px) {
    .left-sec-our-service a{
        right: -59px;
    }
}
@media screen and (max-width: 978px) {
    .our-service-container{
        flex-direction: column;
        gap: 40px;
    }
}
@media screen and (min-width: 438px){
    .service-icon-con{
        width: 135px;
        height: 76px;
    }

}
@media screen and (max-width: 958px) {
    .Comments-container{
        flex-direction: column;
        justify-content: center;
    }
}
